# Energy Storage Dispatch Algorithm
In this notebook, we'll lay out the algorithm for our **energy storage dispatch** in commercial buildings.

**Key variables:**
* Load Profile
* Power Prices
* Battery Characteristics

**Key outputs:**
* Price Savings

From which we'll derive -
* Dispatch Characteristics
* Modified Load Shape

In [149]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#Read Load Forecast
df_load = pd.read_csv(r'C:\Users\Niel Patel\Documents\GitHub\commercial_storage_analysis\data\Load_Price.csv')
df_load["Power Price ($/kWh)"] = df_load["Power Price ($/kWh)"].astype(float)
df_load["Battery_Max_Capacity"]= 1000
df_load["Battery_Current_Charge"]=0
df_load["Battery_Load"] = 0
df_load["Facility_Net_Load"] = df_load["Facility Load Data, pre-storage/renewables (kW)"]+df_load["Battery_Load"]
df_load["Pre-storage_Price"] = df_load["Facility Load Data, pre-storage/renewables (kW)"]*df_load["Power Price ($/kWh)"]*.25
df_load["Post-storage_Price"] = df_load["Facility_Net_Load"]*df_load["Power Price ($/kWh)"]*.25
df_load.head()

,Timestamp,"Facility Load Data, pre-storage/renewables (kW)",Power Price ($/kWh),Battery_Max_Capacity,Battery_Current_Charge,Battery_Load,Facility_Net_Load,Pre-storage_Price,Post-storage_Price
0,2016-07-29 00:15:00,2064,0.12,1000,0,0,2064,61.92,61.92
1,2016-07-29 00:30:00,2352,0.06,1000,0,0,2352,35.28,35.28
2,2016-07-29 00:45:00,2624,0.05,1000,0,0,2624,32.80,32.80
3,2016-07-29 01:00:00,2512,0.15,1000,0,0,2512,94.20,94.20
4,2016-07-29 01:15:00,2096,0.15,1000,0,0,2096,78.60,78.60

# Combining Data and Dispatch
In this section we'll be dipatching the battery to minimize the cost to the building.

**Battery Decision Options**
Charge
Discharge

**Logic**
Minimize Load(n) x PowerPrice(n) + Load(n+1) x PowerPrice(n+1) + Load (n+2) x PowerPrice(n+2)

Such that
Battery Charge <= Maximum Battery Capacity
Battery Charge >= 0

In [150]:
count = 0
last_pp = 0.10
last_charge = 0
for index, row in df_load.iterrows():
    now_pp = row["Power Price ($/kWh)"]
    
    #Loop for charging/discharging battery
    
    if now_pp < last_pp:
        
        #charge
        
        if last_charge >= 0 and last_charge < 1000:
            df_load.at[count,"Battery_Load"]= 1000 - last_charge
        df_load.at[count,"Battery_Current_Charge"] = 1000
        last_charge = df_load.at[count,"Battery_Current_Charge"]

    else:
        
        #discharge
        
        if last_charge > 0 and last_charge <= 1000:
            df_load.at[count,"Battery_Load"]= -last_charge
        df_load.at[count,"Battery_Current_Charge"] = 0
        last_charge = df_load.at[count,"Battery_Current_Charge"]
        
    last_pp = row["Power Price ($/kWh)"]
    count += 1
    
#Calculating Net Load
    
df_load["Facility_Net_Load"] = df_load["Facility Load Data, pre-storage/renewables (kW)"]+df_load["Battery_Load"]

#Calculating Net Price
df_load["Post-storage_Price"] = df_load["Facility_Net_Load"]*df_load["Power Price ($/kWh)"]*.25

Total_Price_Prestorage = df_load["Pre-storage_Price"].sum()
Total_Load_Prestorage = df_load["Facility Load Data, pre-storage/renewables (kW)"].sum()
print('The total pre-storage load is', Total_Load_Prestorage,'and total pre-storage price is',Total_Price_Prestorage)

Total_Price_Poststorage = df_load["Post-storage_Price"].sum()
Total_Load_Poststorage = df_load["Facility_Net_Load"].sum()
print('The total post-storage load is', Total_Load_Poststorage,'and total post-storage price is',Total_Price_Poststorage)

df_load

The total pre-storage load is 257544 and total pre-storage price is 6334.2699999999995
The total post-storage load is 257544 and total post-storage price is 6219.2699999999995

,Timestamp,"Facility Load Data, pre-storage/renewables (kW)",Power Price ($/kWh),Battery_Max_Capacity,Battery_Current_Charge,Battery_Load,Facility_Net_Load,Pre-storage_Price,Post-storage_Price
0,2016-07-29 00:15:00,2064,0.12,1000,0,0,2064,61.92,61.92
1,2016-07-29 00:30:00,2352,0.06,1000,1000,1000,3352,35.28,50.28
2,2016-07-29 00:45:00,2624,0.05,1000,1000,0,2624,32.80,32.80
3,2016-07-29 01:00:00,2512,0.15,1000,0,-1000,1512,94.20,56.70
4,2016-07-29 01:15:00,2096,0.15,1000,0,0,2096,78.60,78.60
5,2016-07-29 01:30:00,1920,0.14,1000,1000,1000,2920,67.20,102.20
6,2016-07-29 01:45:00,1888,0.06,1000,1000,0,1888,28.32,28.32
7,2016-07-29 02:00:00,2064,0.07,1000,0,-1000,1064,36.12,18.62
8,2016-07-29 02:15:00,2192,0.13,1000,0,0,2192,71.24,71.24
9,2016-07-29 02:30:00,2288,0.13,1000,0,0,2288,74.36,74.36
10,2016-07-29 02:45:00,2224,0.13,1000,0,0,2224,72.28,72.28
11,2016-07-29 03:00:00,2080,0.13,1000,0,0,2080,67.60,67.60
12,2016-07-29 03:15:00,1792,0.07,1000,1000,1000,2792,31.36,48.86
13,2016-07-29 03:30:00,1632,0.08,1000,0,-1000,632,32.64,12.64
14,2016-07-29 03:45:00,1712,0.09,1000,0,0,1712,38.52,38.52
15,2016-07-29 04:00:00,1840,0.08,1000,1000,1000,2840,36.80,56.80
16,2016-07-29 04:15:00,1936,0.10,1000,0,-1000,936,48.40,23.40
17,2016-07-29 04:30:00,2656,0.13,1000,0,0,2656,86.32,86.32
18,2016-07-29 04:45:00,2544,0.07,1000,1000,1000,3544,44.52,62.02
19,2016-07-29 05:00:00,2400,0.15,1000,0,-1000,1400,90.00,52.50
20,2016-07-29 05:15:00,2492,0.15,1000,0,0,2492,93.45,93.45
21,2016-07-29 05:30:00,3028,0.14,1000,1000,1000,4028,105.98,140.98
22,2016-07-29 05:45:00,3204,0.06,1000,1000,0,3204,48.06,48.06
23,2016-07-29 06:00:00,3164,0.07,1000,0,-1000,2164,55.37,37.87
24,2016-07-29 06:15:00,2868,0.10,1000,0,0,2868,71.70,71.70
25,2016-07-29 06:30:00,2840,0.06,1000,1000,1000,3840,42.60,57.60
26,2016-07-29 06:45:00,2900,0.10,1000,0,-1000,1900,72.50,47.50
27,2016-07-29 07:00:00,3012,0.09,1000,1000,1000,4012,67.77,90.27
28,2016-07-29 07:15:00,3208,0.10,1000,0,-1000,2208,80.20,55.20
29,2016-07-29 07:30:00,3340,0.14,1000,0,0,3340,116.90,116.90
...,...,...,...,...,...,...,...,...,...
66,2016-07-29 16:45:00,1180,0.15,1000,0,-1000,180,44.25,6.75
67,2016-07-29 17:00:00,1156,0.12,1000,1000,1000,2156,34.68,64.68
68,2016-07-29 17:15:00,1172,0.05,1000,1000,0,1172,14.65,14.65
69,2016-07-29 17:30:00,1204,0.11,1000,0,-1000,204,33.11,5.61
70,2016-07-29 17:45:00,1968,0.10,1000,1000,1000,2968,49.20,74.20
71,2016-07-29 18:00:00,2524,0.05,1000,1000,0,2524,31.55,31.55
72,2016-07-29 18:15:00,2500,0.07,1000,0,-1000,1500,43.75,26.25
73,2016-07-29 18:30:00,2592,0.09,1000,0,0,2592,58.32,58.32
74,2016-07-29 18:45:00,2672,0.14,1000,0,0,2672,93.52,93.52
75,2016-07-29 19:00:00,2496,0.08,1000,1000,1000,3496,49.92,69.92
76,2016-07-29 19:15:00,1824,0.14,1000,0,-1000,824,63.84,28.84
77,2016-07-29 19:30:00,1648,0.10,1000,1000,1000,2648,41.20,66.20
78,2016-07-29 19:45:00,1728,0.15,1000,0,-1000,728,64.80,27.30
79,2016-07-29 20:00:00,1712,0.11,1000,1000,1000,2712,47.08,74.58
80,2016-07-29 20:15:00,1712,0.10,1000,1000,0,1712,42.80,42.80
81,2016-07-29 20:30:00,1776,0.12,1000,0,-1000,776,53.28,23.28
82,2016-07-29 20:45:00,2048,0.15,1000,0,0,2048,76.80,76.80
83,2016-07-29 21:00:00,2400,0.07,1000,1000,1000,3400,42.00,59.50
84,2016-07-29 21:15:00,2448,0.10,1000,0,-1000,1448,61.20,36.20
85,2016-07-29 21:30:00,1984,0.11,1000,0,0,1984,54.56,54.56
86,2016-07-29 21:45:00,1760,0.07,1000,1000,1000,2760,30.80,48.30
87,2016-07-29 22:00:00,1808,0.07,1000,0,-1000,808,31.64,14.14
88,2016-07-29 22:15:00,1856,0.05,1000,1000,1000,2856,23.20,35.70
89,2016-07-29 22:30:00,2336,0.11,1000,0,-1000,1336,64.24,36.74
90,2016-07-29 22:45:00,2512,0.08,1000,1000,1000,3512,50.24,70.24
91,2016-07-29 23:00:00,2512,0.07,1000,1000,0,2512,43.96,43.96
92,2016-07-29 23:15:00,2384,0.07,1000,0,-1000,1384,41.72,24.22
93,2016-07-29 23:30:00,1936,0.10,1000,0,0,1936,48.40,48.40
94,2016-07-29 23:45:00,1776,0.05,1000,1000,1000,2776,22.20,34.70
95,2016-07-30 00:00:00,1936,0.13,1000,0,-1000,936,62.92,30.42